<%- include('partials/header') %> 

<div id="homepageHeader" class="jumbotron">
    <h1 class="display-4">deadweight</h1>
    <p class="lead">deadweight is a minimalistic alternative to current weight tracking and meal tracking solutions</p>   
</div>
<div class="homepageButtons container">
  <div>
    <p>already have an account?</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
  </div>
  <div>
    <p>create a new account</p>
    <a class="btn btn btn-outline-warning btn-lg" href="/signup" role="button">sign up</a>
  </div>
</div>

<%- include('partials/footer') %> 